.img {
    width: 450px;
    height: 400px;
    padding: 5%;
    margin-left: 10%;
}



.jumbotron {
    background-color: black;
}

.container {
    background-color: black;
}

.card {
    background-color: black;
    color: white;
}

body {
    background-color: black;
}
.card{
border-color: white;
}
h1 {
  font-family:  'NewRocker-Regular', sans-serif;
}
h2 {
  font-family:  'NewRocker-Regular', sans-serif;
}
h3 {
  font-family:  'NewRocker-Regular', sans-serif;
}
h4 {
  font-family:  'NewRocker-Regular', sans-serif;
}
.title {
  font-family: 'NewRocker-Regular', sans-serif;
}
.letter-button {
  font-family: 'NewRocker-Regular', sans-serif;
}
.winLose {
  font-family: 'NewRocker-Regular', sans-serif;
}